<!DOCTYPE html>
<html>
    <head>
        <title>System Monitor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
                $(function() {
                  $('a#test').bind('click', function() {
                    $.getJSON('/background_process_test',
                        function(data) {
                            document.write(Date());
                    });
                return false;
              });
            });
        </script>
        <script type="text/javascript">
            async function UpdateValues() {
            while (1)
            {
                await new Promise(r => setTimeout(r, 1000));
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                $.getJSON($SCRIPT_ROOT+"/virtdata/",
                    function(data) {
                        $("#virttomr").text(data.virttomr)
                        $("#virtavbl").text(data.virtavbl)
                        $("#virtperc").text("Virtual ("+data.virtperc+"%)")
                        $("#virtused").text(data.virtused)
                        $("#virtactv").text(data.virtactv)
                        $("#virtbufr").text(data.virtbufr)
                        $("#virtcach").text(data.virtcach)
                        $("#virtshrd").text(data.virtshrd)
                        $("#virtslab").text(data.virtslab)
                        var virtprog = document.getElementById("virtprog");
                        virtprog.value=data.virtperc;
                    });
                $.getJSON($SCRIPT_ROOT+"/cputimes/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#time-user-"+indx).text(data.cputimes[indx][0])
                            $("#time-nice-"+indx).text(data.cputimes[indx][1])
                            $("#time-syst-"+indx).text(data.cputimes[indx][2])
                            $("#time-idle-"+indx).text(data.cputimes[indx][3])
                            $("#time-iowt-"+indx).text(data.cputimes[indx][4])
                            $("#time-ireq-"+indx).text(data.cputimes[indx][5])
                            $("#time-soft-"+indx).text(data.cputimes[indx][6])
                            $("#time-stel-"+indx).text(data.cputimes[indx][7])
                            $("#time-gest-"+indx).text(data.cputimes[indx][8])
                            $("#time-gtnc-"+indx).text(data.cputimes[indx][9])
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpuprcnt/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#cpu-utext-"+indx).text("CPU #"+indx+" ("+data.cpuprcnt[indx]+"%)")
                            var cpupfill = document.getElementById("cpu-usage-"+indx);
                            cpupfill.value = data.cpuprcnt[indx];
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpuclock/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#cpu-ctext-"+indx).text(data.cpuclock[indx][0] + "MHz of Min " + data.cpuclock[indx][1] + "MHz and Max " + data.cpuclock[indx][2] + "MHz")
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpustats/",
                    function(data) {
                        $("#cpus-stat-ctxs").text(data.cpustats["ctxs"])
                        $("#cpus-stat-intr").text(data.cpustats["intr"])
                        $("#cpus-stat-soft").text(data.cpustats["soft"])
                        $("#cpus-stat-sysc").text(data.cpustats["sysc"])
                    });
                $.getJSON($SCRIPT_ROOT+"/swapinfo/",
                    function(data) {
                        $("#swaptotl").text(data.swapinfo[0])
                        $("#swapused").text(data.swapinfo[1])
                        $("#swapfree").text(data.swapinfo[2])
                        $("#swapsine").text(data.swapinfo[4])
                        $("#swapsout").text(data.swapinfo[5])
                        $("#swapperc").text("Swap (" + data.swapinfo[3] + "%)")
                        var swapfill = document.getElementById("swapprog");
                        swapfill.value = data.swapinfo[3];
                    });
                $.getJSON($SCRIPT_ROOT+"/diousage/",
                    function(data) {
                        for (let indx = 0; indx < {{ dionames|length }}; indx ++)
                        {
                            $("#disk-rdct-"+indx).text(data.diousage[indx][0])
                            $("#disk-wrct-"+indx).text(data.diousage[indx][1])
                            $("#disk-rdbt-"+indx).text(data.diousage[indx][2])
                            $("#disk-wrbt-"+indx).text(data.diousage[indx][3])
                            $("#disk-rdtm-"+indx).text(data.diousage[indx][4])
                            $("#disk-wrtm-"+indx).text(data.diousage[indx][5])
                            $("#disk-wrmc-"+indx).text(data.diousage[indx][6])
                            $("#disk-rdmc-"+indx).text(data.diousage[indx][7])
                            $("#disk-bstm-"+indx).text(data.diousage[indx][8])
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/netusage/",
                    function(data) {
                        for (let indx = 0; indx < {{ netnames|length }}; indx ++)
                        {
                            $("#netu-bsnt-"+indx).text(data.netusage[indx][0])
                            $("#netu-brcv-"+indx).text(data.netusage[indx][1])
                            $("#netu-psnt-"+indx).text(data.netusage[indx][2])
                            $("#netu-prcv-"+indx).text(data.netusage[indx][3])
                            $("#netu-erin-"+indx).text(data.netusage[indx][4])
                            $("#netu-eout-"+indx).text(data.netusage[indx][5])
                            $("#netu-dpin-"+indx).text(data.netusage[indx][6])
                            $("#netu-dout-"+indx).text(data.netusage[indx][7])

                        }
                    });
                }
            }
            function MenuTextSetter(ActiveMenuText)
            {
                var ttletext = document.getElementById("ttletext");
                ttletext.innerText = "Dashboard / " + ActiveMenuText;
            }
        </script>
    </head>
    <body onload="UpdateValues()">
        <div class="uk-container uk-container-small">
            <br/>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header uk-padding-small forggrin">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="{{ url_for("static", filename="imgs/datalogo.png") }}">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom headelem">System Monitor</h3>
                            <p class="uk-text-meta uk-margin-remove-top normelem"><time datetime="2016-04-01T19:00">Initial Build by t0xic0der (26 June 2020)</time></p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-padding-small">
                    <h3 id="ttletext" class="headelem">Dashboard</h3>
                    <ul class="headelem" uk-tab>
                        <li><a onclick="MenuTextSetter('Processor')" href="#">Processor</a></li>
                        <li><a onclick="MenuTextSetter('Memory')" href="#">Memory</a></li>
                        <li><a onclick="MenuTextSetter('Disks')" href="#">Disks</a></li>
                        <li><a onclick="MenuTextSetter('Network')" href="#">Network</a></li>
                        <li><a onclick="MenuTextSetter('Sensors')" href="#">Sensors</a></li>
                        <li><a onclick="MenuTextSetter('Thermal')" href="#">Thermal</a></li>
                        <li><a onclick="MenuTextSetter('Miscellaneous')" href="#">Miscellaneous</a></li>
                        <li><a onclick="MenuTextSetter('About')" href="#">About</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Usage</h3>
                            {% for indx in range(cpuquant) %}
                                <h4 id="cpu-utext-{{ indx }}" class="hugeelem uk-margin-remove">CPU #{{ indx }} (0%)</h4>
                                <p id="cpu-ctext-{{ indx }}" class="uk-text-meta uk-margin-remove normelem">0MHz of Min 0MHz and Max 0 MHz</p>
                                <progress id="cpu-usage-{{ indx }}" class="uk-progress uk-margin-small" value="0" max="100" style="color: #008080;"></progress>
                            {% endfor %}
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Times</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>USER</th>
                                        <th>NICE</th>
                                        <th>SYST</th>
                                        <th>IDLE</th>
                                        <th>IOWT</th>
                                        <th>IREQ</th>
                                        <th>SOFT</th>
                                        <th>STEL</th>
                                        <th>GEST</th>
                                        <th>GTNC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for indx in range(cpuquant) %}
                                    <tr>
                                        <td id="time-cpun-{{ indx }}" >CPU #{{ indx }}</td>
                                        <td id="time-user-{{ indx }}" >0</td>
                                        <td id="time-nice-{{ indx }}" >0</td>
                                        <td id="time-syst-{{ indx }}" >0</td>
                                        <td id="time-idle-{{ indx }}" >0</td>
                                        <td id="time-iowt-{{ indx }}" >0</td>
                                        <td id="time-ireq-{{ indx }}" >0</td>
                                        <td id="time-soft-{{ indx }}" >0</td>
                                        <td id="time-stel-{{ indx }}" >0</td>
                                        <td id="time-gest-{{ indx }}" >0</td>
                                        <td id="time-gtnc-{{ indx }}" >0</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Statistics</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>CTXS</th>
                                        <th>INTR</th>
                                        <th>SOFT</th>
                                        <th>SYSC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="cpus-stat-ctxs">0</td>
                                        <td id="cpus-stat-intr">0</td>
                                        <td id="cpus-stat-soft">0</td>
                                        <td id="cpus-stat-sysc">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h3 id="virtperc" class="uk-card-title headelem">Virtual (0%)</h3>
                            <progress id="virtprog" class="uk-progress uk-margin-small" value="0" max="100" style="color: #008080;"></progress>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>TOTL</th>
                                        <th>AVBL</th>
                                        <th>USED</th>
                                        <th>ACTV</th>
                                        <th>BUFR</th>
                                        <th>CACH</th>
                                        <th>SHRD</th>
                                        <th>SLAB</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="virttomr">0</td>
                                        <td id="virtavbl">0</td>
                                        <td id="virtused">0</td>
                                        <td id="virtactv">0</td>
                                        <td id="virtbufr">0</td>
                                        <td id="virtcach">0</td>
                                        <td id="virtshrd">0</td>
                                        <td id="virtslab">0</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3 id="swapperc" class="uk-card-title headelem">Swap (0%)</h3>
                            <progress id="swapprog" class="uk-progress uk-margin-small" value="0" max="100" style="color: #008080;"></progress>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>TOTL</th>
                                        <th>USED</th>
                                        <th>FREE</th>
                                        <th>PERC</th>
                                        <th>SINE</th>
                                        <th>SOUT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="swaptotl">0</td>
                                        <td id="swapused">0</td>
                                        <td id="swapfree">0</td>
                                        <td id="swapperc">0</td>
                                        <td id="swapsine">0</td>
                                        <td id="swapsout">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h3 class="uk-card-title headelem">Usage</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>PART</th>
                                        <th>RDCT</th>
                                        <th>WRCT</th>
                                        <th>RDBT</th>
                                        <th>WRBT</th>
                                        <th>RDTM</th>
                                        <th>WRTM</th>
                                        <th>WRMC</th>
                                        <th>RDMC</th>
                                        <th>BSTM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for indx in range(dionames|length) %}
                                    <tr>
                                        <td id="disk-part-{{ indx }}">{{ dionames[indx] }}</td>
                                        <td id="disk-rdct-{{ indx }}">0</td>
                                        <td id="disk-wrct-{{ indx }}">0</td>
                                        <td id="disk-rdbt-{{ indx }}">0</td>
                                        <td id="disk-wrbt-{{ indx }}">0</td>
                                        <td id="disk-rdtm-{{ indx }}">0</td>
                                        <td id="disk-wrtm-{{ indx }}">0</td>
                                        <td id="disk-wrmc-{{ indx }}">0</td>
                                        <td id="disk-rdmc-{{ indx }}">0</td>
                                        <td id="disk-bstm-{{ indx }}">0</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3 class="uk-card-title headelem">Partitions</h3>
                            {% for indx in diskpart %}
                            <div uk-alert class="uk-margin-small">
                                <h4 class="headelem uk-margin-remove">{{ indx[0] }} ({{ indx[1] }})</h4>
                                <p class="normelem uk-margin-remove"><span class="headelem">FSYS</span> {{ indx[2] }} / <span class="headelem">OPTS</span> {{ indx[3] }}</p>
                            </div>
                            {% endfor %}
                        </li>
                        <li>
                            <h3 class="uk-card-title headelem">Usage</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>SNIC</th>
                                        <th>BSNT</th>
                                        <th>BRCV</th>
                                        <th>PSNT</th>
                                        <th>PRCV</th>
                                        <th>ERIN</th>
                                        <th>EOUT</th>
                                        <th>DPIN</th>
                                        <th>DOUT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for indx in range(netnames|length) %}
                                    <tr>
                                        <td id="netu-snic-{{ indx }}">{{ netnames[indx] }}</td>
                                        <td id="netu-bsnt-{{ indx }}">0</td>
                                        <td id="netu-brcv-{{ indx }}">0</td>
                                        <td id="netu-psnt-{{ indx }}">0</td>
                                        <td id="netu-prcv-{{ indx }}">0</td>
                                        <td id="netu-erin-{{ indx }}">0</td>
                                        <td id="netu-eout-{{ indx }}">0</td>
                                        <td id="netu-dpin-{{ indx }}">0</td>
                                        <td id="netu-dout-{{ indx }}">0</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </li>
                        <li>Bazinga!</li>
                        <li>Bazinga!</li>
                        <li>Bazinga!</li>
                        <li>
                            <h3 class="uk-card-title headelem">System Information</h3>
                            <dl class="uk-description-list">
                                <dt class="headelem">Variant</dt>
                                <dd class="normelem">
                                    {% for indx in range(systarry|length) %}
                                        {{ systarry[indx] }}
                                        {% if indx != (systarry|length) - 1 %}
                                            /
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                                {% for key, value in retndata.items() %}
                                <dt class="headelem">{{ key }}</dt>
                                <dd class="normelem">{{ value }}</dd>
                                {% endfor %}
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="uk-card-footer uk-padding-small forggrin">
                    <a href="#" class="uk-button uk-button-text headelem">Read more</a>
                </div>
            </div>
        </div>
        <br/>
    </body>
</html>