<!DOCTYPE html>
<html>
    <head>
        <title>System Monitor</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/uikit.min.css") }}" />
        <link rel="stylesheet" href="{{ url_for("static", filename="css3/custfrmt.css") }}" />
        <script src="{{ url_for("static", filename="jscn/uikit.min.js") }}"></script>
        <script src="{{ url_for("static", filename="jscn/uikit-icons.min.js") }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
                $(function() {
                  $('a#test').bind('click', function() {
                    $.getJSON('/background_process_test',
                        function(data) {
                            document.write(Date());
                    });
                return false;
              });
            });
        </script>
        <script type="text/javascript">
            async function UpdateValues() {
            while (1)
            {
                await new Promise(r => setTimeout(r, 1000));
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                $.getJSON($SCRIPT_ROOT+"/virtdata/",
                    function(data) {
                        $("#virttomr").text(data.virttomr+" Bytes")
                        $("#virtavbl").text(data.virtavbl+" Bytes")
                        $("#virtperc").text("Virtual ("+data.virtperc+"%)")
                        $("#virtused").text(data.virtused+" Bytes")
                        $("#virtactv").text(data.virtactv+" Bytes")
                        $("#virtbufr").text(data.virtbufr+" Bytes")
                        $("#virtcach").text(data.virtcach+" Bytes")
                        $("#virtshrd").text(data.virtshrd+" Bytes")
                        $("#virtslab").text(data.virtslab+" Bytes")
                        var virtprog = document.getElementById("virtprog");
                        virtprog.value=data.virtperc;
                    });
                $.getJSON($SCRIPT_ROOT+"/cputimes/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#time-user-"+indx).text(data.cputimes[indx][0])
                            $("#time-nice-"+indx).text(data.cputimes[indx][1])
                            $("#time-syst-"+indx).text(data.cputimes[indx][2])
                            $("#time-idle-"+indx).text(data.cputimes[indx][3])
                            $("#time-iowt-"+indx).text(data.cputimes[indx][4])
                            $("#time-ireq-"+indx).text(data.cputimes[indx][5])
                            $("#time-soft-"+indx).text(data.cputimes[indx][6])
                            $("#time-stel-"+indx).text(data.cputimes[indx][7])
                            $("#time-gest-"+indx).text(data.cputimes[indx][8])
                            $("#time-gtnc-"+indx).text(data.cputimes[indx][9])
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpuprcnt/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#cpu-utext-"+indx).text("CPU #"+indx+" ("+data.cpuprcnt[indx]+"%)")
                            var cpupfill = document.getElementById("cpu-usage-"+indx);
                            cpupfill.value=data.cpuprcnt[indx];
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpuclock/",
                    function(data) {
                        for (let indx = 0; indx < {{ cpuquant }}; indx ++)
                        {
                            $("#cpu-ctext-"+indx).text(data.cpuclock[indx][0] + "MHz of Min " + data.cpuclock[indx][1] + "MHz and Max " + data.cpuclock[indx][2] + "MHz")
                        }
                    });
                $.getJSON($SCRIPT_ROOT+"/cpustats/",
                    function(data) {
                        $("#cpus-stat-ctxs").text(data.cpustats["ctxs"])
                        $("#cpus-stat-intr").text(data.cpustats["intr"])
                        $("#cpus-stat-soft").text(data.cpustats["soft"])
                        $("#cpus-stat-sysc").text(data.cpustats["sysc"])
                    });
                }
            }
            function MenuTextSetter(ActiveMenuText)
            {
                var ttletext = document.getElementById("ttletext");
                ttletext.innerText = "Dashboard / " + ActiveMenuText;
            }
        </script>
    </head>
    <body onload="UpdateValues()">
        <div class="uk-container uk-container-small">
            <br/>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header uk-padding-small forggrin">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="{{ url_for("static", filename="imgs/datalogo.png") }}">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom headelem">System Monitor</h3>
                            <p class="uk-text-meta uk-margin-remove-top normelem"><time datetime="2016-04-01T19:00">Initial Build by t0xic0der (26 June 2020)</time></p>
                        </div>
                    </div>
                </div>
                <div class="uk-card-body uk-padding-small">
                    <h3 id="ttletext" class="headelem">Dashboard</h3>
                    <ul class="headelem" uk-tab>
                        <li><a onclick="MenuTextSetter('Processor')" href="#">Processor</a></li>
                        <li><a onclick="MenuTextSetter('Memory')" href="#">Memory</a></li>
                        <li><a onclick="MenuTextSetter('Disks')" href="#">Disks</a></li>
                        <li><a onclick="MenuTextSetter('Network')" href="#">Network</a></li>
                        <li><a onclick="MenuTextSetter('Sensors')" href="#">Sensors</a></li>
                        <li><a onclick="MenuTextSetter('Thermal')" href="#">Thermal</a></li>
                        <li><a onclick="MenuTextSetter('Miscellaneous')" href="#">Miscellaneous</a></li>
                        <li><a onclick="MenuTextSetter('About')" href="#">About</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin">
                        <li>
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Usage</h3>
                            {% for indx in range(cpuquant) %}
                                <h4 id="cpu-utext-{{ indx }}" class="hugeelem uk-margin-remove">CPU #{{ indx }} (0%)</h4>
                                <p id="cpu-ctext-{{ indx }}" class="uk-text-meta uk-margin-remove normelem">0 MHz of Min 0 MHz and Max 0 MHz</p>
                                <progress id="cpu-usage-{{ indx }}" class="uk-progress uk-margin-small" value="0" max="100" style="color: #008080;"></progress>
                            {% endfor %}
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Times</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>USER</th>
                                        <th>NICE</th>
                                        <th>SYST</th>
                                        <th>IDLE</th>
                                        <th>IOWT</th>
                                        <th>IREQ</th>
                                        <th>SOFT</th>
                                        <th>STEL</th>
                                        <th>GEST</th>
                                        <th>GTNC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for indx in range(cpuquant) %}
                                    <tr>
                                        <td id="time-cpun-{{ indx }}" >CPU #{{ indx }}</td>
                                        <td id="time-user-{{ indx }}" >0</td>
                                        <td id="time-nice-{{ indx }}" >0</td>
                                        <td id="time-syst-{{ indx }}" >0</td>
                                        <td id="time-idle-{{ indx }}" >0</td>
                                        <td id="time-iowt-{{ indx }}" >0</td>
                                        <td id="time-ireq-{{ indx }}" >0</td>
                                        <td id="time-soft-{{ indx }}" >0</td>
                                        <td id="time-stel-{{ indx }}" >0</td>
                                        <td id="time-gest-{{ indx }}" >0</td>
                                        <td id="time-gtnc-{{ indx }}" >0</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h3 id="cptmtext" class="uk-card-title headelem">CPU Statistics</h3>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <thead>
                                    <tr>
                                        <th>CTXS</th>
                                        <th>INTR</th>
                                        <th>SOFT</th>
                                        <th>SYSC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="cpus-stat-ctxs">0</td>
                                        <td id="cpus-stat-intr">0</td>
                                        <td id="cpus-stat-soft">0</td>
                                        <td id="cpus-stat-sysc">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <h3 id="virtperc" class="uk-card-title headelem">Virtual (0%)</h3>
                            <progress id="virtprog" class="uk-progress" value="0" max="100" style="color: #008080;"></progress>
                            <table class="uk-table uk-table-small uk-table-divider normelem">
                                <tbody>
                                    <tr>
                                        <td>Total</td>
                                        <td id="virttomr">0</td>
                                    </tr>
                                    <tr>
                                        <td>Available</td>
                                        <td id="virtavbl">0</td>
                                    </tr>
                                    <tr>
                                        <td>Used</td>
                                        <td id="virtused">0</td>
                                    </tr>
                                    <tr>
                                        <td>Active</td>
                                        <td id="virtactv">0</td>
                                    </tr>
                                    <tr>
                                        <td>Buffers</td>
                                        <td id="virtbufr">0</td>
                                    </tr>
                                    <tr>
                                        <td>Cached</td>
                                        <td id="virtcach">0</td>
                                    </tr>
                                    <tr>
                                        <td>Shared</td>
                                        <td id="virtshrd">0</td>
                                    </tr>
                                    <tr>
                                        <td>Slab</td>
                                        <td id="virtslab">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                        <li>Bazinga!</li>
                        <li>Bazinga!</li>
                        <li>Bazinga!</li>
                        <li>
                            <h3 class="uk-card-title headelem">System Information</h3>
                            <dl class="uk-description-list">
                                <dt class="headelem">Variant</dt>
                                <dd class="normelem">
                                    {% for indx in range(systarry|length) %}
                                        {{ systarry[indx] }}
                                        {% if indx != (systarry|length) - 1 %}
                                            /
                                        {% endif %}
                                    {% endfor %}
                                </dd>
                                {% for key, value in retndata.items() %}
                                <dt class="headelem">{{ key }}</dt>
                                <dd class="normelem">{{ value }}</dd>
                                {% endfor %}
                            </dl>
                        </li>
                        <li>Bazinga!</li>
                    </ul>
                </div>
                <div class="uk-card-footer uk-padding-small forggrin">
                    <a href="#" class="uk-button uk-button-text headelem">Read more</a>
                </div>
            </div>
        </div>
    </body>
</html>