/*
##########################################################################
*
*   Copyright © 2019-2020 Akashdeep Dhar <t0xic0der@fedoraproject.org>
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <https://www.gnu.org/licenses/>.
*
##########################################################################
*/

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../font/plex-rlar.ttf");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    src: url("../font/plex-ital.ttf");
}

@font-face {
    font-family: "IBM Plex Sans";
    font-weight: bold;
    src: url("../font/plex-bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    font-weight: bold;
    font-style: italic;
    src: url("../font/plex-bdit.ttf");
}

/* Preventing text-selection and copy-paste */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Make the scrollbars disappear while retaining the functionality */
.cuntainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cuntainer::-webkit-scrollbar {
    display: none;
}

.bodyfont {
    font-family: 'IBM Plex Sans', sans-serif !important;
}